.header {
    width: calc(100% - 2*48px);
    /*width: 1184px;
    max-height: 52px;*/
    display: flex;
    flex-direction: row;
    margin: 28px auto 0;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    box-sizing: content-box;
}
/*@media screen and (max-width: 1279px) {
    .header {
        width: calc(100% - 2*48px);
    }
}*/
@media screen and (max-width: 1023px) {
    .header {
        width: calc(100% - 2*24px);
    }
}
@media screen and (max-width: 767px) {
    .header {
        width: calc(100% - 2*16px);
        margin-top: 16px;
    }
}
