.cover__title {
    max-width: 560px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
}
@media screen and (max-width: 767px) {
    .cover__title {
        width: calc(100% - 2*16px);
        font-size: 32px;
        line-height: 35px;
    }
}
